.card {
    width:400px;
    height: 400px;
    padding:20px;
    margin-right:15px;

}

.container {
    justify-items: center;
    /* grid-gap: 20px 5000px; */
    grid-column-gap:100px;
    grid-column-gap: 10px;

}
