
#cardAction {
    width: 400px;
    background-color:	#909090;
}
#reqBut {
    margin-right: 20px;
}
.container {
    justify-items: center;
    /* grid-gap: 20px 5000px; */
    grid-column-gap:100px;
    grid-column-gap: 10px;

}
#test {
    background-color:	#909090;
}
